GROQ__API_KEY=YOUR_GROQ_KEY_GOES_HERE
GROQ__BASE_URL=https://api.groq.com/openai/v1
GROQ__MODEL=openai/gpt-oss-20b

TWILIO__ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO__AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO__PHONE_NUMBER=YOUR_TWILIO_PHONE_NUMBER

QDRANT__HOST=localhost
QDRANT__PORT=6333
QDRANT__API_KEY=
QDRANT__CLUSTER_URL=
QDRANT__USE_QDRANT_CLOUD=false

STT_MODEL=groq-whisper
TTS_MODEL=edge-tts

OPIK__API_KEY=YOUR_OPIK_API_KEY
OPIK__WORKSPACE=telecomcall
